.main-header {
  background-color: #1098ad;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  padding: 10px;
  text-decoration: underline;
}

.main-header h2 {
  text-decoration: none;
}
.project-article,
.last-project {
  border-bottom: 5px solid #1098ad;
  padding-bottom: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration-line: underline;
}

a:active {
  font-style: italic;
}
