* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
img,
video {
  max-width: 100%;
  height: auto;
}
.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
.main-header {
  background-color: #1098ad;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  padding: 10px;
  text-decoration: underline;
}

.main-header h2 {
  text-decoration: none;
}
.project-article,
.last-project {
  border-bottom: 5px solid #1098ad;
  padding-bottom: 10px;
}

.contact-ses {
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
  margin-bottom: 50px;
  width: 50%;
}
.project-article header,
.last-project header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.project-img {
  margin: 5px 0;
}
.project-platform {
  margin: 5px 0;
}

.skills {
  margin-bottom: 100px;
}

.navigation {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}
a:link {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-decoration-line: underline;
}

a:active {
  font-style: italic;
}

.skills li p {
  display: inline;
}

.skills img {
  margin: 15px;
}
